:root {
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --Head-Font-Family: 'Poppins', sans-serif;
    --Head-Font-Weighted: 700;
    --Body-Font-Family: 'Open Sans', sans-serif;
    --Body-Font-Weighted: 400, 600, 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

@media only screen and (min-width:375px) {
    body {
        background-color: black;
    }
    header {
        background-color: var(--Very-Pale-Blue);
        width: 40%;
        height: 160px;
    }
    .header>li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
    }
    .imagen-header {
        /*contenedor huddle*/
        height: 4rem;
        width: 30rem;
    }
    .imagen-header>img {
        /*huddle*/
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    .contenedor-header {
        /*contenedor try it free*/
        border: 2px solid var(--Light-Pink);
        border-radius: 15px;
        width: 9rem;
        height: 2.8rem;
        position: relative;
        margin-left: -9.2rem;
    }
    .contenedor-header>p {
        /*try it free*/
        color: var(--Light-Pink);
        font-family: var(--Head-Font-Family);
        font-weight: var(--Head-Font-Weighted);
        text-align: center;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:1440px) {
    body {
        background-color: purple;
    }
}